select {
    width: auto !important;
    float: left !important;
}

.small {
    width: 20% !important;
    float: left !important;
}

.type-ahead {
    width: auto !important;
    float: left !important;
}

.Collapsible {
    background-color: aqua;
}

.rt-noData {
    visibility: collapse
}

.pointer:hover {
    cursor: pointer;
}
